@font-face {
  font-family: Montserrat_Medium;
  src: url('./Assets/Fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Montserrat_Bold;
  src: url('./Assets/Fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Playfair_SemiBold;
  src: url('./Assets/Fonts/PlayfairDisplay-SemiBold.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

body,html{
  overflow-x: hidden;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000;
}


h3 {
  overflow: hidden;
  text-align: center;
  font-family: 'Playfair_SemiBold';
  font-size: 38px;
  color: #1C1C1C;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h3:before,
h3:after {
  background-color: #FFC7D1;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h3:before {
  right: 0.5em;
  margin-left: -50%;
}

h3:after {
  left: 0.5em;
  margin-right: -50%;
}

@media screen and (max-width: 576px) {
  h3{
    font-size: 28px;
  }
}