.shipment-grid-card-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.shipment-grid-card-row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #FFC7D1;
    padding-right: 30px;
}

.shipment-grid-card-row>div:last-child {
    border-right: none;
}

.shipment-grid-card-row>div>img {
    width: 80px;
    height: 80px;
}

.shipment-grid-card-row>div>p {
    font-size: 16px;
    color: #1C1C1C;
    letter-spacing: .5px;
    font-family: 'Montserrat_Medium';
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: center;
}

.shipment-grid-card-row>div:nth-child(2)>img {
    width: 60px;
    height: 80px;
}

.shipment-wrapper {
    background-color: #F5F4F2;
    padding: 40px 10px 40px 10px;
    margin-top: 2rem;
    position: relative;
    top: 0;
}

.ellipse {
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 80px;
}

.ellipse-sec {
    position: absolute;
    right: 0;
    top: -100px;
    width: 80px;
}

@media screen and (max-width: 992px) {
    .shipment-grid-card-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .shipment-grid-card-row>div:nth-child(2) {
        border-right: none;
    }
}

@media screen and (max-width: 576px) {
    .ellipse-sec {
        top: -50px;
        width: 50px;
    }

    .ellipse {
        bottom: -50px;
        width: 50px;
    }
}